@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer utilities {
	.scroll-nav {
		@apply mx-2 mt-2 rounded-xl border border-white/2 px-0 shadow-md backdrop-blur-md;
	}
}
/*============*/
/*--- root ---*/
:root {
	--main-text-color: #cb3565;
	--sub-text-color: #ffffff;
	--hover-main-text-color: #b02e58;
	--ats-text-color: #ccc;
	--title-bg-color: #cb3565;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	  /* 方眼紙模様に必須のスタイル */
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
}

/*== nprogress関係 ==*/
#nprogress .bar {
	background: var(--main-text-color) !important;
}

#nprogress .spinner-icon {
	border-top-color: var(--main-text-color) !important;
	border-left-color: var(--main-text-color) !important;
}
/**/

/*== タグ共通スタイル ==*/

/*hrタグ*/
.main-hr {
	border: none;
	height: 1px;
	background-color: var(--main-text-color);
	margin: 10px 0;
}

.sub-hr {
	border: none;
	height: 1px;
	background-color: var(--sub-text-color);
	margin: 10px 0;
}

/*aタグ*/
.link-main {
	display: flex;
	position: relative;
	background-color: white;
	border: var(--main-text-color) solid 1.5px;
	color: var(--title-bg-color);
	transition: 0.5s;
	text-decoration: none;
	border-radius: 50px;
	padding: 10px 15px;
	width: fit-content;
	text-transform: uppercase;
	vertical-align: middle;
	align-items: center;
	cursor: pointer;
	@apply mx-auto text-center;
}

/* .link-main-underline: 下線アニメーション用 */
.link-main-underline {
	position: relative;
	display: inline-block;
	@apply mx-auto;
}

/*.link-main:hover {
	background-color: color-mix(in srgb, var(--hover-main-text-color), transparent 90%);
}*/

.link-main-underline::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -2px;
	width: 0; /* 初期状態は幅0 */
	height: 1px;
	background: var(--main-text-color);
	transition: 0.3s;
}


/* 親aタグのホバーで下線を表示 */
.link-main:hover .link-main-underline::after {
	width: 95%;
	text-align: center;
	align-items: center;
}

/*container*/

/**/

/*== 共通 ==*/

/*btn-icon*/
.other-close-ico {
	color: var(--main-text-color);
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*title*/
.tf26-page-title {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1.25rem;
	margin-left: 0.5rem;
	text-align: center;
	color: white;
	padding: 10px 0;
}

/*header*/
.header-hamburger {
	background-color: var(--main-text-color);
}

.header-text {
	color: var(--main-text-color);
	cursor: pointer;
}

/*footer*/
.footer {
	background-color: var(--main-text-color);
	margin: 0;
}

.footer-top-content {
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	display: flex;
}

.footer-bottom-content {
	width: 90%;
	padding: 20px;
}

.footer-flex-content {
	width: calc(100% / 4);
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 15px;
	border-radius: 8px;
}

.footer-flex-content a,
.footer-span,
.footer-link,
.footer-text {
	color: var(--sub-text-color);
	font-size: 0.9rem;
	gap: 10px;
	text-decoration: none;
	margin-top: 5px;
}

.footer-flex-content h4 {
	color: var(--sub-text-color);
	margin-bottom: 10px;
	border-left: 3px solid var(--sub-text-color);
	padding-left: 6px;
	letter-spacing: 2px;
}

.footer-flex-content li {
	list-style: none;
	margin-left: 5px;
	margin-top: 5px;
}

/*検索フォーム*/
.s-search-form {
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--main-text-color);
	overflow: hidden;
	background-color: white;
	width: 100%;
	max-width: 500px;
	padding: 10px 15px;
	margin: 0 auto;
}

.s-search-input {
	border: none;
	flex: 1;
	background-color: transparent;
	color: black;
	min-width: 10vw;
}

.s-search-input:focus {
	outline: none;
	box-shadow: none;
}

.m-search-button {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0; /* ボタンの幅を縮めないように */
	transform: 0.3s;
}

.m-search-button i {
	font-size: 18px;
	color: var(--main-text-color);
}

.m-search-button:hover i {
	color: var(--hover-main-text-color);
}

@media (max-width: 768px) {
	.footer_link {
		font-size: 0.7rem;
	}

	.footer_text {
		color: #c5c5c5;
		font-size: 0.7rem;
	}

	.footer_logo {
		width: 120px;
		height: auto;
	}

	.footer-top-content {
		width: 95%;
	}

	.footer-bottom-content {
		width: 95%;
	}
}

/*アニメーション関連*/
.char {
	display: inline-block;
	opacity: 0;
	transform: translateY(10px);
}

.visible .char {
	animation: rise 0.4s ease forwards;
	animation-delay: var(--d);
}

.split-text .char {
	opacity: 0;
	animation: none;
}

.visible .split-text .char {
	animation: rise 0.4s ease forwards;
	animation-delay: calc(var(--index) * 0.05s);
}

@keyframes rise {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/**/

/*== トップページ ==*/
.tp-info {
	background-color: var(--title-bg-color);
	color: white;
}

#scroll-down {
	display: block;
	position: relative;
	padding-top: 79px;
	text-align: center;
}

#scroll-title {
	display: block;
	text-transform: uppercase;
	color: white;
	font-family: 'raleway';
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4em;
	text-align: center;
	transform: rotate(90deg);
	margin-bottom: 45px;
}
#scroll-down::before {
	-webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	/* Safari 4+ */
	-moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	/* Fx 5+ */
	-o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	/* Opera 12+ */
	animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	/* IE 10+, Fx 29+ */
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 90px;
	background: white;
	content: ' ';
}
@-webkit-keyframes elasticus {
	0% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	50% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50.1% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
}
@-moz-keyframes elasticus {
	0% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	50% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50.1% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
}
@-o-keyframes elasticus {
	0% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	50% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50.1% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
}
@keyframes elasticus {
	0% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	50% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50.1% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
}
